    <%= image_tag "logo.png", class:"logo-img row-span-1 row-start-2 justify-self-center col-span-2 right-0", alt:"logo" %>
    <h1 class="col-span-2 row-start-3 justify-self-center row-span-1 text-4xl max-sm:text-sm" id="name">مؤسسة RGC للمقاولات العامة</h1>
    
