<div class="snappy">
  <%= render 'navbar' %>
  <section class="section" id="home">
    <%= image_tag "logo.png", id:"logo-img", alt:"logo" %>
    <%= image_tag "PatternColored.png", class:"pattern" %>
  </section>
  <section class="section" id="projects">
    <h1 class="color-danger">Projects</h1>
  </section>
  <section class="section" id="view">
    <h1>View</h1>
  </section>
  <section class="section" id="contacts">
    <h1>Our Contacts</h1>
  </section>
</div>