<div class="snappy">
  <section class="home">
    <div class="name">
      <%= image_tag "LOGO.png" %>
      <br>
      <h1 class="logo-name">RGC</h1>
    </div>
  </section>
  <section class="projects">
  <h1 class="color-danger">Projects</h1>
  </section>
  <section class="view">
    <h1>View</h1>
  </section>
  <section class="about-us">
    <h1>About Us</h1>
  </section>
</div>