<div class="snappy">
  <%= render 'navbar' %>
  <section class="section" id="home">
    <div class="name">
      <%= image_tag "LogoAndName.png" %>
    </div>
  </section>
  <section class="section" id="projects">
  <h1 class="color-danger">Projects</h1>
  </section>
  <section class="section" id="view">
    <h1>View</h1>
  </section>
  <section class="section" id="about-us">
    <h1>About Us</h1>
  </section>
</div>