<div class="snappy">
  <%= render 'navbar' %>
  <section class="section relative grid grid-rows-4 grid-cols-2 " id="home">
    <%= render 'home' %>
    <%= image_tag "sideBuilding.png", class:"absolute right-0 bottom-0 h-5/6 max-h-screen opacity-70 max-lg:hidden"%>
    <%= image_tag "PatternColored.png", class:"pattern row-span-1" %>
  </section>
  <section class="section" id="projects">
    <h1 class="color-danger">Projects</h1>
  </section>
  <section class="section" id="view">
    <h1>View</h1>
  </section>
  <section class="section" id="contacts">
    <h1>Our Contacts</h1>
  </section>
</div>