/* RB font */
@font-face {
  font-family: 'RB';
  src: url('RB-Regular.eot');
  src: url('RB-Regular.eot?#iefix') format('embedded-opentype'),
      url('RB-Regular.woff2') format('woff2'),
      url('RB-Regular.woff') format('woff'),
      url('RB-Regular.ttf') format('truetype'),
      url('RB-Regular.svg#RB-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RB';
  src: url('riyad-bank-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
nav{
  width: 100%;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  position: fixed;
}
nav ul.english{
  position: absolute;
  left: 0;
  justify-items: start;
  padding-top: 10px;
  float: left;
  margin-right: 10px;
}

nav ul.arabic{
  justify-items: end;
  margin-top: 10px;
  float: right;
  margin-right: 10px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 100;
  margin: 30px;
}

/* custom styling */

*{
  font-family: "RB";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtl{
  direction: rtl; 
}

.snappy{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh ;
}


#navbar{
  z-index: 2;
}

.olnum{
  ol {
    list-style: none;
  }

  ol li {
    counter-increment: item;
  }

  ol li:before {
    color: #ebb745;
    font-weight: bolder;
    content: counter(item, decimal-leading-zero);
    padding-left: 1rem;
  }
}

#home{
  background-image: asset-url("RGC2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#us{
  background-image: asset-url("RGC1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(189, 150, 65);
}

#view{
  background-image: asset-url("RGC3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#contacts{
  background-image: asset-url("RGC4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ebb745;
}


#name{
  text-decoration-line: underline;
  text-underline-offset: 20px ;
  text-decoration-color: rgb(235, 183, 69);
  color: white;
  // font-size: 2.5em;
}

#field{
  background-image: asset-url("RGC4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#elec{
  background-image: asset-url("elecBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#finishing{
  background-image: asset-url("finishingBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#mechanic{
  background-image: asset-url("mechanicBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#security{
  background-image: asset-url("securityBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(30, 30, 30);
}

#p1{
  background-color: rgb(57, 58, 56);
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .arabic, .english{
    display: grid;
    font-size: smaller;
  }
}